<h1>Workouts</h1>

<table border="1px solid">
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Focus</th>
  </tr>
  <tr>
  <% @workouts.each do |workout| %>
    <td><%= workout.created_at %></td>
    <td><a href="/workouts/<%= workout.id %>"><%= workout.name %></a></td>
  <% end %>
  </tr>
</table>
